@use "../../styles/partials/variable" as *;
@use "../../styles/partials/mixins" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  height: 100vh;
  height: 100%;
  min-height: 700px;
  width: 100%;
  padding: 3em 0;
  border-bottom: solid 1px #aaaa;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .header {
    background-color: #1d7738;
    // background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
    border-bottom: 1px solid #aaaaaa5d;

    &__logoXnav {
      display: flex;
      width: 100%;

      &-logo {
        display: flex;
        // justify-content: end;
        align-items: center;
        width: 50%;
        gap: 1em;
        padding: 0 0 0 1em;
        
        &-container {
          width: 30px;
          img {
            width: 100%;
          }
        }

        h2 {
          font-size: 1.5rem;
        }
      }

      &-mobile-nav {
        display: flex;
        width: 50%;
      }
    }

    // &__logo-menu-icon {
    //   display: flex;
    //   #logo {
    //     display: flex;
    //     width: 50%;
    //     justify-content: end;
    //     // height: 25px;
    //     // align-self: center;
    //     // justify-self: center;
    //     img {
    //       width: 100%;
    //     }
    //   }

    //   #menu {
    //     display: flex;

    //     span {
    //       display: flex;
    //     }
    //   }
    // }
  }
}

.catergory-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#footer {
  background-color: #aaaa;
  width: 100vw;
  display: flex;
  justify-content: center;
  .footer {
    display: flex;
    justify-content: center;
    padding: 1em 0;
    width: 100%;
    p {
      width: fit-content;
      text-align: center;
      font-size: 1.125rem;
      letter-spacing: 2px;
      line-height: 1.5em;
      color: gray;
    }
  }
}
