$bandsite-Black-primary: #323232;
$silver-primary: #AFAFAF;
$white-primary: #FFFFFF;

$bandsite-DarkBlack-secondary: #000000;
$murcury-secondary: #E1E1E1;
$alabaster-secondary: #FAFAFA;




$mPageXsection-header-font-size: 2rem;
$mPageXsection-header-line-height: 2.8em;
$mPageXsection-header-font-weight: 700;

$mSubHeader-font-size: 1.25rem;
$mSubHeader-line-height: 1.5em;
$mSubHeader-font-weight: 600;

$mBodyXfooterCopy-font-size: 1.3rem;
$mBodyXfooterCopy-line-height: 1.2em;
$mBodyXfooterCopy-font-weight: 400;

$mLabelsXbuttonsCopy-header-font-size: 0.8rem;
$mLabelsXbuttonsCopy-header-line-height: 1.2em;
$mLabelsXbuttonsCopy-header-font-weight: 700;





$tXd-Page-header-font-size: 3.5rem;
$tXd-Page-header-line-height: 3.8em;
$tXd-Page-header-font-weight: 700;

$tXd-Section-Header-font-size: 2.5rem;
$tXd-Section-Header-line-height: 2em;
$tXd-Section-Header-font-weight: 600;

$tXd-SubHeader-font-size: 1.5rem;
$tXd-SubHeader-line-height: 2em;
$tXd-SubHeader-font-weight: 600;

$tXd-BodyXfooterCopy-font-size: 0.95rem;
$tXd-BodyXfooterCopy-line-height: 3.2em;
$tXd-BodyXfooterCopy-font-weight: 400;

$tXd-LabelsXbuttonsCopy-font-size: 1.8rem;
$tXd-LabelsXbuttonsCopy-line-height: 1.2em;
$tXd-LabelsXbuttonsCopy-font-weight: 700;

