* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, a, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  color: rgba(170, 170, 170, 0.6666666667);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  height: 100vh;
  height: 100%;
  min-height: 700px;
  width: 100%;
  padding: 3em 0;
  border-bottom: solid 1px rgba(170, 170, 170, 0.6666666667);
}

#header {
  background-color: black;
}
#header .header {
  background-color: rgb(16, 100, 15);
}

.catergory-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#footer {
  background-color: rgba(170, 170, 170, 0.6666666667);
  width: 100vw;
  display: flex;
  justify-content: center;
}
#footer .footer {
  display: flex;
  justify-content: center;
  padding: 1em 0;
  width: 100%;
}
#footer .footer p {
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  font-size: 1.125rem;
  letter-spacing: 2px;
  line-height: 1.5em;
  color: gray;
}

#hero {
  text-align: center;
}
#hero .hero {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2em;
}
#hero .hero__image-container {
  display: flex;
  justify-content: center;
}
#hero .hero__image {
  width: 40vw;
  min-width: 200px;
  max-width: 275px;
  border-radius: 50%;
}
#hero .hero__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25em;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  #hero .hero__info {
    width: 60%;
  }
}
@media only screen and (min-width: 992px) {
  #hero .hero__info {
    width: 50%;
  }
}
#hero .hero__name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
#hero .hero__profession {
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: semi-bold;
}
#hero .hero__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 1.5em;
}
#hero .hero__socials a {
  width: -moz-fit-content;
  width: fit-content;
}
#hero .hero__github-icon {
  max-height: 35px;
}
#hero .hero__linkedin-icon, #hero .hero__x-twitter-icon {
  height: 30px;
}
#hero .hero__description {
  font-family: "Roboto", monospace;
  width: 80%;
  max-height: 24ch;
}
#hero .hero__cv-btn {
  background-color: #0987f2;
  color: white;
  padding: 1em 1.25em;
  font-size: 1.25rem;
  border: none;
  border-radius: 1.25em;
  font-weight: bold;
  box-shadow: 0 4px 4ppx rgba(0, 0, 0, 0.25);
  transition: box-shadw 200ms ease-in-out, tansform 200ms ease-in-out;
}
#hero .hero__cv-btn:hover {
  transform: scale(1.05);
}
#hero .hero__cv-btn:active {
  transform: translateY(2px);
}

#projects .projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em 1em;
  padding-top: 2em;
}
#projects .projects__side-note {
  font-family: "Roboto", monospace;
  font-size: 1rem;
  text-align: center;
  width: 80%;
}
#projects .projects__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
#projects .projects__list-2lvs-img {
  border-radius: 1em;
}
#projects .projects__list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border: 1px solid rgb(73, 73, 80);
  border-radius: 1em;
}
#projects .projects__list-item-lit {
  padding-top: 1em;
}
#projects .projects__list-item h3 {
  letter-spacing: 1px;
}
#projects .projects__list-item p {
  font-family: "Roboto", monospace;
  letter-spacing: 2px;
}

#contact .contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  min-height: 500px;
  background-color: #716a77;
}
#contact .contact__form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.9em;
}
#contact .contact textarea,
#contact .contact input:not([type=submit]) {
  height: 3.5rem;
  padding-left: 2em;
  min-width: 16.5rem;
}
#contact .contact textarea {
  padding-top: 2em;
  resize: none;
  height: 15.5rem;
}
#contact .contact input,
#contact .contact textarea {
  border-radius: 1.5rem;
  border: #888 1px solid;
  justify-self: center;
  background-color: var(--background-color);
  color: rgb(64, 64, 64);
  width: 80vw;
  max-width: 600px;
}
#contact .contact input[type=submit] {
  display: flex;
  width: 50%;
  max-width: 180px;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: rgb(9, 135, 242);
  color: white;
  padding: 1em 1.25em;
  font-size: 1.25rem;
  border: none;
  border-radius: 1.25em;
  font-weight: bold;
  box-shadow: 0 4px 4ppx rgba(0, 0, 0, 0.25);
  transition: box-shadw 200ms ease-in-out, tansform 200ms ease-in-out;
}
#contact .contact input[type=submit]:hover {
  transform: scale(1.05);
}
#contact .contact input[type=submit]:active {
  transform: translateY(2px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}/*# sourceMappingURL=css.css.map */