@use "../styles/partials/global.scss" as *;
@use "../styles/partials/mixins.scss" as *;
@use "../styles/partials/variable.scss" as *;

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#content-area {
  height: 100%;
  .content-area {
    background-color: rgb(86, 86, 31);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    background-image: url('../assets/images/thank-you-img.JPG');
    background-size: cover;
    background-position: center;
  }
}

// #footer {
//   // background-color: red;
// }
